html
	head
		title we-Trippin'!
		script.
			$(document).ready(function () {
				$('#submit').click(function(event) {
					if($('#email').val().trim().length === 0 || $('#password').val().trim().length === 0) {
						event.preventDefault();
						$('#error-message').html("Your username or password is empty.");
					}
				});
			});
	body
		h1 Let's start trippin'
		form(action='/login' method='post')
					label email
					input(type='email' name='email')
					label password
					input(name='password' type='password' required)
					input(type='submit' value='login' id='submit')
					br
					br
					a(href='/register') Still not Trippin'? Join us!

		h3#error-message= message

		script(src="/resources/js/jquery-3.1.1.min.js")
		script(src="/resources/js/materialize.min.js")