html
	head
		title wePlannin'
		link(href='/resources/css/custom.css' type="text/css" rel="stylesheet")
		link(href='/resources/css/materialize.min.css' type="text/css" rel="stylesheet")
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	body
		nav.nav-wrapper.grey.darken-3
			h2.brand-logo weTrippin'
			ul#nav-mobile.right.hide-on-med-and-down
				li
					a(href='/profile') Profile
				li
					a(href='/logout') Log out

		h1 wePlannin'
		.right-align
			a.newday.btn-floating.btn-large.waves-effect.waves-light.red
				i.material-icons add
			br
			a.removeday.btn-floating.btn-large.waves-effect.waves-light.red
				i.material-icons delete

		div.container#header
			ul.collapsible(data-collapsible='accordion')
				li
					.collapsible-header
						| Day 1
					.collapsible-body
						form(action='/dailyPlan' method='post')
							label Anything to useful to keep in mind
							textarea#textarea1.materialize-textarea
							input(type='submit')
						#map
							input(type='button', value='Delete', onclick='DeleteMarkers()')

		footer.page-footer.grey.darken-3
			div.container
				div.row
					div.col.l6.s12
						h5.white-text weTrippin'
						p.grey-text.text-lighten-4 iTrip, youTrip, weTrippin'
			div.footer-copyright
				div.container  &copy; 2016 Sergio Reyes Gomez de Liano

	script(src="/resources/js/jquery-3.1.1.min.js")
	script(src="/resources/js/materialize.min.js")
	script(src="/resources/js/custom.js")
	script(src="/resources/js/maps.js")
	script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAelmKfY0T3R_L35-UZ75yI-8QXccnZtp8&callback=initMap', async='', defer='')