html
	head
		title wePlannin'
		link(href='/resources/css/planner.css' type="text/css" rel="stylesheet")
		link(href='/resources/css/materialize.min.css' type="text/css" rel="stylesheet")
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	body
		nav.nav-wrapper.grey.darken-3
			h2.brand-logo weTrippin'
			ul#nav-mobile.right.hide-on-med-and-down
				li
					a(href='/profile') Profile
				li
					a(href='/planner') wePlannin'
				li
					a(href='/logout') Log out


		h4.center-align How was it tho?
		div.container
			each thing in data
				h3 #{thing.day}
					form(action='/dailyThoughts' method='post')
						label Any thoughts for this day?
						input(type='text' name='name')
						br
						input(type='submit')


		footer.page-footer.grey.darken-3
			div.container
				div.row
					div.col.l6.s12
						h5.white-text weTrippin'
						p.grey-text.text-lighten-4 iTrip, youTrip, weTrippin'
			div.footer-copyright
				div.container  &copy; 2016 Sergio Reyes Gomez de Liano

	script(src="/resources/js/jquery-3.1.1.min.js")
	script(src="/resources/js/materialize.min.js")
	script(src="/resources/js/custom.js")